# Police Shootings in USA

To create this analysis, only the information contained in the original dataset was analyzed. The proportion of the population of ethnic groups in North American territory, such an analysis would probably reveal a more xenophobic and racist face of the U.S police forces. <br><br><b>#BlackLivesMatter</b>

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
file= 'input/datasets_723010_1257097_fatal-police-shootings-data.csv'
df= pd.read_csv(file)
df.sample(2)

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
5315,5793,TK TK,2020-05-11,shot,hammer,NaN,M,NaN,Laguna Niguel,CA,False,undetermined,NaN,False
5008,5425,D'ovion Semaj Perkins,2020-01-25,shot,gun,19.0,M,B,Aurora,CO,False,other,Car,False

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5416 entries, 0 to 5415
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       5416 non-null   int64
 1   name                     5416 non-null   object
 2   date                     5416 non-null   object
 3   manner_of_death          5416 non-null   object
 4   armed                    5189 non-null   object
 5   age                      5181 non-null   float64
 6   gender                   5414 non-null   object
 7   race                     4895 non-null   object
 8   city                     5416 non-null   object
 9   state                    5416 non-null   object
 10  signs_of_mental_illness  5416 non-null   bool
 11  threat_level             5416 non-null   object
 12  flee                     5167 non-null   object
 13  body_camera              5416 non-null   bool
dtypes: bool(2), float64(1), int64(1), object(10)
memory usage: 518.5+ KB