In [157]:
import pandas as pd
df = pd.read_csv('inputs/shootings.csv')

In [158]:
df.sample(3)

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,arms_category
1621,1876,Travis Ell,2016-09-09,shot,unknown,64.0,M,White,Auburn,WA,True,other,Not fleeing,False,Unknown
2008,2337,Raynard Burton,2017-02-13,shot,unarmed,19.0,M,Black,Detroit,MI,False,attack,Other,False,Unarmed
3518,4123,William David Williamson,2018-10-22,shot,unknown,61.0,M,White,Newport,TN,False,attack,Not fleeing,False,Unknown

In [159]:
df.drop(['id', 'name', 'date', 'manner_of_death', 'arms_category', 'city'], axis = 1, inplace= True)

In [160]:
df['threat_level'].unique()

array(['attack', 'other', 'undetermined'], dtype=object)

In [161]:
df['armed'].unique()

array(['gun', 'unarmed', 'toy weapon', 'nail gun', 'knife', 'unknown',
       'shovel', 'hammer', 'hatchet', 'sword', 'machete', 'box cutter',
       'metal object', 'screwdriver', 'lawn mower blade', 'flagpole',
       'guns and explosives', 'cordless drill', 'metal pole', 'Taser',
       'metal pipe', 'metal hand tool', 'blunt object', 'metal stick',
       'sharp object', 'meat cleaver', 'carjack', 'chain',
       "contractor's level", 'stapler', 'crossbow', 'bean-bag gun',
       'baseball bat and fireplace poker', 'straight edge razor',
       'gun and knife', 'ax', 'brick', 'baseball bat', 'hand torch',
       'chain saw', 'garden tool', 'scissors', 'pole', 'pick-axe',
       'flashlight', 'vehicle', 'spear', 'chair', 'pitchfork',
       'hatchet and gun', 'rock', 'piece of wood', 'bayonet', 'pipe',
       'glass shard', 'motorcycle', 'pepper spray', 'metal rake', 'baton',
       'crowbar', 'oar', 'machete and gun', 'air conditioner',
       'pole and knife', 'beer bottle', 'baseball bat and bottle',
       'fireworks', 'pen', 'chainsaw', 'gun and sword', 'gun and car',
       'pellet gun', 'BB gun', 'incendiary device', 'samurai sword',
       'bow and arrow', 'gun and vehicle', 'vehicle and gun', 'wrench',
       'walking stick', 'barstool', 'grenade', 'BB gun and vehicle',
       'wasp spray', 'air pistol', 'baseball bat and knife',
       'vehicle and machete', 'ice pick', 'car, knife and mace'],
      dtype=object)

In [162]:
df['gender'].unique()

array(['M', 'F'], dtype=object)

In [163]:
race_dict = {'Asian': 0, 'Black': 1, 'Hispanic': 2, 'Native': 3, 'White': 4, 'Other': 5}
state_dict = {'WA': 0, 'OR': 1, 'KS': 2, 'CA': 3, 'CO': 4, 'OK': 5, 'AZ': 6, 'IA': 7, 'PA': 8, 'TX': 9, 'OH': 10,
       'LA': 11, 'MT': 12, 'UT': 13, 'AR': 14, 'IL': 15, 'NV': 16, 'NM': 17, 'MN': 18, 'MO': 19, 'VA': 20, 'NJ': 21,
       'IN': 22, 'KY': 23, 'MA': 24, 'NH': 25, 'FL': 26, 'ID': 27, 'MD': 28, 'NE': 29, 'MI': 30, 'GA': 31, 'TN': 32,
       'NC': 33, 'AK': 34, 'NY': 35, 'ME': 36, 'AL': 37, 'MS': 38, 'WI': 39, 'SC': 40, 'DE': 41, 'DC': 42, 'WV': 43,
       'HI': 44, 'WY': 45, 'ND': 46, 'CT': 47, 'SD': 48, 'VT': 49, 'RI': 50}
gender_dict = {'F': 0, 'M': 1}
flee_dict = {'Not fleeing': 0, 'Car': 1, 'Foot': 1, 'Other': 1}
threat_dict = {'attack': 1, 'other': 0, 'undetermined': 0}

df['race'] = df['race'].map(race_dict)
df['gender'] = df['gender'].map(gender_dict)
df['state'] = df['state'].map(state_dict)
df['flee'] = df['flee'].map(flee_dict)
df['threat_level'] = df['threat_level'].map(threat_dict)

In [164]:
df.head()

,armed,age,gender,race,state,signs_of_mental_illness,threat_level,flee,body_camera
0,gun,53.0,1,0,0,True,1,0,False
1,gun,47.0,1,4,1,False,1,0,False
2,unarmed,23.0,1,2,2,False,0,0,False
3,toy weapon,32.0,1,4,3,True,1,0,False
4,nail gun,39.0,1,2,4,False,1,0,False

In [165]:
for i in df['armed']:
    if (i == 'unarmed'):
        df['armed'].update(pd.Series([0]))
    else:
        df['armed'].update(pd.Series([1]))

In [166]:
df

,armed,age,gender,race,state,signs_of_mental_illness,threat_level,flee,body_camera
0,1,53.0,1,0,0,True,1,0,False
1,gun,47.0,1,4,1,False,1,0,False
2,unarmed,23.0,1,2,2,False,0,0,False
3,toy weapon,32.0,1,4,3,True,1,0,False
4,nail gun,39.0,1,2,4,False,1,0,False
...,...,...,...,...,...,...,...,...,...
4890,Taser,27.0,1,1,31,False,1,1,True
4891,gun,23.0,1,1,22,False,1,1,False
4892,unarmed,25.0,0,4,19,False,0,0,False
4893,gun,22.0,1,4,19,False,0,1,False
4894,gun,31.0,1,4,2,False,1,1,False